*.pyc
*~
*.xml
*.ini
*.bmp
*.png
*.spec
*.dmg
LATEST*
.project
.pydevproject
/logs/
/build/
/dist/
/testbed/
/test/
/Output/
*.suo
*.db
*.opendb
/Release
/WinInstaller/Release
/InstallerPrep/Release
*.user
